<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>SourceIdea社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceIdea社区">
  <meta name="description" content="SourceIdea社区">
  <link rel="stylesheet" href="../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md10">
      <div class="fly-panel" style="margin-bottom: 0;">

        <div class=" fly-filter">
          <table>
            <tr>
              <td> <div href="" class="layui-this" style="width:500px"><h1 >新增您的团队</h1></div></td>
            </tr>
          </table>
        </div>
        <hr>

        <!-- <div class="fly-none">没有相关数据</div> -->
          <!--th:action="@{/UserC/addTeamProject}"-->
          <form class="layui-form" id="myForm" >
              <div class="layui-form-item">
                  <label class="layui-form-label" >团队名</label>
                  <div class="layui-input-block">
                      <input type="text" name="teamName"  id="teamName" style="width: 200px" required  lay-verify="required" placeholder="请输入团队名" autocomplete="off" class="layui-input">
                  </div>
              </div>
              <!--<div class="layui-form-item">
                  <label class="layui-form-label" style="width: 100px">项目管理员</label>
                  <div class="layui-input-block" lay-verify="required" >
                      <select name="projectManagerId" id="projectManagerId">
                          <i th:each="tag:${tags}">
                              <option th:value="${tag.userId}" th:text="${tag.userName}"></option>
                          </i>
                      </select>
                  </div>
              </div>-->

              <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">介绍</label>
                  <div class="layui-input-block">
                      <textarea name="teamMsg" placeholder="请输入团队介绍" required lay-verify="required" id="teamMsg" class="layui-textarea"></textarea>
                  </div>
              </div>
              <div class="layui-form-item">
                  <div class="layui-input-block">
                      <button class="layui-btn"  id="addP" type="button" onclick="addTeam()">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
              </div>
          </form>

      </div>
    </div>
  </div>
</div>

<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    function addTeam(){
        console.log("addTeam!!")
        $.ajax({
            url:"/TeamC/addTeam",
            data:$('#myForm').serialize(),
            type:"post",
            dataType:"json",
            cache:false,
            success:function(data){//ajax返回的数据
                console.log(data);
                console.log(data.successUrl)
                layer.msg(data.msg);
                if(data.isSuccess == "1"){
                    window.location.href = data.successUrl ;
                }
            },
            error:function (data) {
                layer.msg("发生了一个错误!")
            }

        });
    }
</script>
<script type="text/javascript">

  $(function () {
    $(".layui-clear li").eq(7).addClass("layui-this");
  });


</script>
<script>
    layui.config({
        version: "3.0.0",
        base: '../../res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>

</body>
</html>