<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>SourceIdea社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceIdea社区">
  <meta name="description" content="SourceIdea社区">
  <link rel="stylesheet" href="../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md7">
      <div class="fly-panel" style="margin-bottom: 0;">


        <div class=" fly-filter">
          <table>
            <tr>
              <td> <div href="" class="layui-this" ><h1 th:text="${teamName}+'的团队详细'"></h1></div></td>

             <!--团员都可以看-->
              <shiro:hasAnyRoles name="|user:teamMember:${teamId}, user:projectMember:${teamId} , user:projectManager:${teamId}, user:teamManager:${teamId}|">
                <td><a style="float: left;margin-left: 30px;color:white" type="button" class="layui-btn layui-btn-normal" th:href="@{/UserC/toUsers(teamName=${teamName})}">邀请</a></td>
              </shiro:hasAnyRoles>


              <!--项目管理员和团长可以看-->
              <shiro:hasAnyRoles name="|user:teamManager:${teamId} , user:projectManager:${teamId}|" >
                <td><a style="float: left;margin-left: 30px;color:white" type="button" class="layui-btn layui-btn-normal addProject" th:href="@{/UserC/toAddProject(teamName=${teamName})}">新增项目</a></td>
              </shiro:hasAnyRoles>


            <!--团长可以看-->
              <shiro:hasRole name="|user:teamManager:${teamId}|" >
                <td><a style="float: left;margin-left: 30px;color:white" type="button" class="layui-btn layui-btn-normal addIdea" th:href="@{/UserC/toAddTeamIdea(teamName=${teamName})}">新增想法</a></td>
              </shiro:hasRole>


            </tr>
          </table>

        </div>
        <hr>

        <H3>团队成员介绍</H3>
        <ul class="fly-list" th:each="member : ${members}">
          <li style="margin-bottom: 60px">
            <h4>
              <a  th:text="${member.userName}"></a>
            </h4>
            <div class="fly-list-info">
                        <cite th:id="'tr'+${member.userId}" th:text="${member.teamRole}"></cite>
              <span  th:text="'入团时间: '+${member.memberJoinTime}"></span>
              <!--团长可看-->
              <shiro:hasRole name="|user:teamManager:${teamId}|" >
                <p th:if="${member.teamRole != '项目管理员' && member.teamRole != '团队队长' } " style="display: inline-block">
                  <span style="display: inline-block;" class="awardManager" >
                     <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:25px;background-color:deepskyblue"  onclick="awardManager(this.value)"  th:value="${member.userId}" type="button" th:id="'awButton'+${member.userId}">项目管理员</button>
                     <i th:text="${teamName}" th:id="'aw'+${member.userId}" style="display: none"></i>
                   </span>
                </p>
                  <span style="display: inline-block;margin-right:100px;" class="delMember" >
                     <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:25px;background-color:red"  onclick="delMember(this.value)"  th:value="${member.userId}" type="button" th:id="'delButton'+${member.userId}">删除</button>
                     <i th:text="${teamName}" th:id="'i'+${member.userId}" style="display: none"></i>
                   </span>
              </shiro:hasRole>
            </div>
            <div class="fly-list-badge">
            </div>
          </li>

        </ul>

        <br>
        <hr>
        <H3>团队项目介绍</H3>
        <ul class="fly-list" th:each="project : ${projects}">
          <li style="margin-bottom: 60px">
            <h3>
              <a th:href="@{/ProjectC/toProjectMsg(projectId=${project.projectId})}" th:text="${project.projectName}"></a>
            </h3>
            <div class="fly-list-info">
              <span th:text="${project.projectCreateTime}"></span>
              <!--团长 项目管理可看-->
              <shiro:hasAnyRoles name="|user:teamManager:${teamId} , user:projectManager:${teamId}|" >
                  <span style="display: inline-block;" class="delP" >
                     <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:20px;background-color:red;"  onclick="delProject(this.value)"  th:value="${project.projectId}" type="button" th:id="'delProject'+${project.projectId}">删除</button>
                   </span>
                 <span style="display: inline-block;" class="editP" th:if="${project.projectArchive == 0}">
                     <a class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:20px;background-color:deepskyblue"  th:href="@{/ProjectC/toEditProject(projectId=${project.projectId})}" th:value="${project.projectId}" type="button" th:id="'editProject'+${project.projectId}">修改项目</a>
                   </span>
                  <span th:if="${project.projectArchive == 0}">
                    <span style="display: inline-block;" class="archiveP" >
                     <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:20px;background-color:deepskyblue;"  onclick="archiveProject(this.value)"  th:value="${project.projectId}" type="button" th:id="'archive'+${project.projectId}">归档</button>
                   </span>
                  </span>

              </shiro:hasAnyRoles>
            </div>
            <div class="fly-list-badge">
            </div>
          </li>

        </ul>


        <br>
        <hr>
        <H3>团队想法介绍</H3>
        <ul class="fly-list" th:each="idea : ${ideas}">
          <li style="margin-bottom: 60px">
            <h3>
              <a th:href="@{/IdeaC/toIdeaMsg(ideaId=${idea.ideaId})}" th:text="${idea.ideaName}"></a>
            </h3>
            <div class="fly-list-info">
              <span th:text="${idea.ideaCreateTime}"></span>

              <!--团长可看-->
              <shiro:hasRole name="|user:teamManager:${teamId}|" >
                <span style="display: inline-block;margin-right:250px;float: right" class="delIdea" >
                   <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:25px;background-color:red"  onclick="delIdea(this.value)"  th:value="${idea.ideaId}" type="button" th:id="'delIdea'+${idea.ideaId}">删除</button>
                   </span>
              </shiro:hasRole>

            </div>
            <div class="fly-list-badge">
            </div>
          </li>

        </ul>
      </div>
    </div>



    <!--团长可看-->
    <shiro:hasRole name="|user:teamManager:${teamId}|" >
      <div class="layui-col-md4 applyy"  >
        <dl class="fly-panel fly-list-one">
          <dt class="fly-panel-title">团队申请</dt>
          <dd th:each="user : ${applies}">
            <a href="" th:text="${user.userName}"></a>
            <span  th:text="'申请时间: '+${user.applyTime}"></span>
            <span style="display: inline-block;float: right" class="del" >
                 <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:20px"  onclick="agreeMember(this.value)"  th:value="${user.userId}" type="button" th:id="'agree'+${user.userId}">同意</button>
                    <i th:text="${teamName}" th:id="'agreei'+${user.userId}" style="display: none"></i>
             </span>
          </dd>
        </dl>
      </div>
    </shiro:hasRole>


  </div>
</div>

<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'indexTeam'
}).use('fly');

</script>
<script th:inline="javascript">
 /* var userRoles =   [[${userRoles}]]
  console.log(userRoles);

  for (var i=0;i<userRoles.length;i++){
    //显示项目删除按钮
    if(userRoles[i] == '4' || userRoles[i] == '3'){
      $(".delP").show();
      $(".addProject").show();
    }
    //团长权限
    if(userRoles[i] == '4' ){
      $(".applyy").show();
      $(".delIdea").show();
      $(".delMember").show();
      $(".addIdea").show();
    }
    console.log(userRoles[i]);
  }*/
</script>
<script type="text/javascript">
  $(function () {
    $(".layui-clear li").eq(7).addClass("layui-this");
    console.log("teamId == "+  [[${teamId}]])
  });

/*删除想法*/
  function delIdea(ideaId) {
    console.log(ideaId);
    $.ajax({
      url:"/UserC/delIdea",
      data:{
        "ideaId" : ideaId
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success == "1"){
          $("#delIdea" + ideaId).parent().parent().parent().remove();
          layer.msg(data.msg);
        }else{
          layer.msg(data.msg);
        }
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }


  /*授予项目管理员*/
  function awardManager(userId) {
    /*  var userId = val.value();*/
    console.log(userId);
    var teamName = $("#aw"+userId).text();
    console.log(teamName);
    var mamager = '[[${manager}]]';
    $.ajax({
      url:"/UserC/awardManager",
      data:{
        "userId" : userId,
        "teamName":teamName
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success == "1"){
          $("#awButton" + userId).parent().remove();
          $("#tr"+userId).text(mamager);
        }
        layer.msg(data.msg);
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }

  /*异步删除成员*/
  function delMember(userId) {
  /*  var userId = val.value();*/
    console.log(userId);
    var teamName = $("#i"+userId).text();
    console.log(teamName);
    $.ajax({
      url:"/UserC/delMember",
      data:{
        "userId" : userId,
        "teamName":teamName
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success == "1"){
          $("#delButton" + userId).parent().parent().parent().remove();
          layer.msg(data.msg);
        }else{
          layer.msg(data.msg);
        }
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }


  /*异步归档项目*/
  function archiveProject(projectId) {
    console.log(projectId);
    $.ajax({
      url:"/ProjectC/archiveProject",
      data:{
        "projectId" : projectId
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success = "1"){
          $('#archive'+projectId).parent().remove();
        }
        layer.msg(data.msg);
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }

  /*异步删除项目*/
  function delProject(projectId) {
    console.log(projectId);
    $.ajax({
      url:"/UserC/delProject",
      data:{
        "projectId" : projectId
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success == "1"){
          $("#delProject" + projectId).parent().parent().parent().remove();
          layer.msg(data.msg);
        }else{
          layer.msg(data.msg);
        }
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }

  /*异步审批*/
  function agreeMember(userId) {
  /*  var userId = val.value();*/
    console.log(userId);
    var teamName = $("#agreei"+userId).text();
    console.log(teamName);
    $.ajax({
      url:"/UserC/agreeMember",
      data:{
        "userId" : userId,
        "teamName":teamName
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        if(data.success == "1"){
          $("#agree" + userId).parent().parent().remove();
          layer.msg(data.msg);
        }else{
          layer.msg(data.msg);
        }
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }
    });
  }
</script>
</body>
</html>