<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>SourceIdea社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceIdea社区">
  <meta name="description" content="SourceIdea社区">
  <link rel="stylesheet" href="../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md10">
      <div class="fly-panel" style="margin-bottom: 0;">


        <div class=" fly-filter">
          <table>
            <tr>
              <td> <div href="" class="layui-this" style="width:480px"><h1 th:text="${session.userName}+'的项目列表'"></h1></div></td>
              <!--搜索框-->
              <form class="form-inline" th:action="@{/userC/toMyProject}" type="post" >
              <td>
                  <input type="text"  name="projectName"   placeholder="搜索项目" autocomplete="off" class="layui-input" style="width:200px">
              </td>
              <td>
                <button style="float: left" type="submit" class="layui-btn layui-btn-normal">确认</button>
              </td>
              </form>
            </tr>
          </table>

          <span>

        </span>
        </div>

        <hr>
        <ul class="fly-list" th:each="project : ${projects}">
          <li style="margin-bottom: 60px">
            <h3>
              <a th:href="@{/projectC/toProjectMsg/{projectId}(projectId=${project.projectId})}" th:text="${project.projectName}"></a>
            </h3>
            <div class="fly-list-info">

                <cite th:text="'团队队长: '+${project.projectManager}"></cite>

              <span th:text="${project.projectCreateTime}"></span>
            </div>
            <div class="fly-list-badge">
            </div>
          </li>

        </ul>
        
        <!-- <div class="fly-none">没有相关数据</div> -->
        <br>
        <hr>
        <div style="text-align: center">
          <!--分页-->
          <div style="margin-top: 40px">
            <ul class="pagination" >
              <li th:class="${indexPage==1}?'disabled' : ''"><a th:href="@{'/userC/toMyProject?page=' + ${indexPage-1}   +'&projectName='+${projectName}}">&laquo;</a></li>
              <li th:if="${indexPage-3 >=1}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage-3}   +'&projectName='+${projectName}}" th:text="${indexPage -3}" >1</a></li>
              <li th:if="${indexPage-2 >=1}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage-2}   +'&projectName='+${projectName}}" th:text="${indexPage -2}" >1</a></li>
              <li th:if="${indexPage-1 >=1}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage-1}   +'&projectName='+${projectName}}" th:text="${indexPage -1}" >1</a></li>
              <li class="active"><a href="#" th:text="${indexPage}" >1</a></li>
              <li th:if="${indexPage+1 <=totalPage}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage+1}   +'&projectName='+${projectName}}" th:text="${indexPage +1}" >1</a></li>
              <li th:if="${indexPage+2 <=totalPage}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage+2}   +'&projectName='+${projectName}}" th:text="${indexPage +2}" >1</a></li>
              <li th:if="${indexPage+3 <=totalPage}" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage+3}  +'&projectName='+${projectName}}" th:text="${indexPage +3}" >1</a></li>
              <li th:class="${indexPage==totalPage}?'disabled' : ''" ><a th:href="@{'/userC/toMyProject?page=' + ${indexPage+1}  +'&projectName='+${projectName}}" href="#">&raquo;</a></li>
            </ul>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'indexProject'
}).use('fly');

</script>
<script type="text/javascript">
  $(function () {
    $(".layui-clear li").eq(8).addClass("layui-this");
  });
</script>
</body>
</html>