<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>SourceIdea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceIdea社区">
  <meta name="description" content="SourceIdea">
  <link rel="stylesheet" href="../../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../../res/css/global.css">
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md10 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${projectMsg.projectName}"></h1>
        <div class="detail-body photos" >
          <p th:text="'项目介绍: '+${projectMsg.projectMsg}"></p>
          <p th:text="'所属团队: '+${projectMsg.teamName}"></p>
          <br>
          <hr>
          <h1>团队成员：</h1>

          <div th:each=" member :${members}">
            <p th:text="'名字:'+${member.userName} "></p>
            <p th:text="'职级:'+${member.teamRoleName}"></p>
            <p th:text="'加入时间:'+${member.memberJoinTime}"></p>
            <br>
            <hr>
          </div>
          <hr>
          <br>
          <p th:text="'项目发起时间: '+${projectMsg.projectCreateTime}"></p>
          <button class="layui-btn layui-btn-normal" id="joinProject" th:value="${projectMsg.projectId}" onclick="joinProject(this.value)">申请加入项目</button>
          <i th:text="${session.userId}" id="userId" style="visibility: hidden"></i>
        </div>
      </div>


    </div>

  </div>
</div>


<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  /*
  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });
  */
});
</script>

<script th:inline="javascript">
  var projectsName =   [[${projectsName}]]
  console.log(projectsName);

  var projectName = [[${projectMsg.projectName}]];
  console.log(projectName);

  for (var i=0;i<projectsName.length;i++){
    if(projectsName[i] == projectName){
      $("#joinProject").hide();
    }
  }
</script>
<script src="../../../../../res/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
  $(function () {
    $(".layui-clear li").eq(3).addClass("layui-this");
  });

  function joinProject(projectId) {
    var u = $("#userId").text();
    var userId = parseInt(u);
    console.log(userId)
    $.ajax({
      url:"/ProjectC/joinProject",
      data:{ "userId" : userId,
        "projectId" : projectId
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据a
        console.log(data);
        layer.msg(data.msg)
      },
      error:function (data) {
        layer.msg("未登录无法申请哦! 请登录")
      }

    });

  }
</script>
</body>
</html>