<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>SourceIdea社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="margin-bottom: 0;">

        <div class=" fly-filter">
          <table>
            <tr>
              <td> <div href="" class="layui-this" style="width:350px"><h1>用户列表</h1></div></td>
              <!--搜索框-->
               <form class="form-inline layui-form" th:action="@{/userC/toUsers}" type="post" >
               <td>
                   <input type="text"  name="userName"   placeholder="搜索用户" autocomplete="off" class="layui-input" style="width:200px">
                    <input type="hidden" name="teamName" th:value="${teamName}">
               </td>
               <td>
                 <button style="float: left" type="submit" class="layui-btn layui-btn-normal" >确认</button>
               </td>
               </form>
            </tr>
          </table>
        </div>
        <hr>
        <ul class="fly-list" th:each="user:${users}">
          <li style="margin-bottom: 60px">
            <h3>
              <a   th:href="@{/userC/toUserMsg(userId=${user.userId},teamName=${teamName})}" th:text="${user.userName}"></a>
            </h3>
            <div class="fly-list-info">
              <span th:text="'创建时间: '+${user.userCreateTime}" style="display: inline-block;margin-left: 30px"></span>
            </div>
            <div class="fly-list-badge">
            </div>
          </li>

        </ul>

        <!-- <div class="fly-none">没有相关数据</div> -->

        <br>
        <hr>
        <div style="text-align: center">
          <!--分页-->
          <div style="margin-top: 40px">
            <ul class="pagination" >
              <li th:class="${indexPage==1}?'disabled' : ''"><a th:href="@{'/userC/toUsers?page=' + ${indexPage-1} +'&teamName='+${teamName}}">&laquo;</a></li>
              <li th:if="${indexPage-3 >=1}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage-3}+'&teamName='+${teamName}}" th:text="${indexPage -3}" >1</a></li>
              <li th:if="${indexPage-2 >=1}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage-2}+'&teamName='+${teamName}}" th:text="${indexPage -2}" >1</a></li>
              <li th:if="${indexPage-1 >=1}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage-1}+'&teamName='+${teamName}}" th:text="${indexPage -1}" >1</a></li>
              <li class="active"><a href="#" th:text="${indexPage}" >1</a></li>
              <li th:if="${indexPage+1 <=totalPage}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage+1}+'&teamName='+${teamName}}" th:text="${indexPage +1}" >1</a></li>
              <li th:if="${indexPage+2 <=totalPage}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage+2}+'&teamName='+${teamName}}" th:text="${indexPage +2}" >1</a></li>
              <li th:if="${indexPage+3 <=totalPage}" ><a th:href="@{'/userC/toUsers?page=' + ${indexPage+3}+'&teamName='+${teamName}}" th:text="${indexPage +3}" >1</a></li>
              <li th:class="${indexPage==totalPage}?'disabled' : ''" ><a th:href="@{'/ideaC/toUsers?page=' + ${indexPage+1}+'&teamName='+${teamName}}" href="#">&raquo;</a></li>
            </ul>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<div class="fly-footer" th:fragment="footer">
  <p><a href="http://fly.layui.com/" target="_blank">SourceIdea·Cvte社区</a> 2019 &copy; <a href="http://www.layui.com/" target="_blank">Cvte.com 出品</a></p>
</div>
<script src="../../../../../res/layui/layui.js"></script>
<script>
  function msg(val){
    layer.open({
      title: false,
      type : 1,
      content : val
    });
  }
function invite(userId){
    console.log("进入invite方法")
  //得到teamName
  var teamName = $("#teamName"+userId).text();
  console.log(teamName)

  $.ajax({
    url:"/userC/invite",
    data:{ "userId" : userId,
            "teamName" : teamName
        },
    type:"post",
    dataType:"json",
    cache:false,
    success:function(data){//ajax返回的数据
      console.log(data);
      if(data.isSuccess == "1"){
        /*点击改变颜色*/
        $("#buttonId"+userId).css("background-color","red");
      }
        layer.msg(data.msg);

    },
    error:function (data) {
      layer.msg("未登录无法点赞哦! 请登录")
    }

  });
}
layui.config({
  version: "3.0.0",
  base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>