<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>SourceIdea社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceIdea社区">
  <meta name="description" content="SourceIdea社区">
  <link rel="stylesheet" href="../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md10">
      <div class="fly-panel" style="margin-bottom: 0;">

        <div class=" fly-filter">
          <table>
            <tr>
              <td> <div href="" class="layui-this" style="width:350px"><h1>头脑风暴列表</h1></div></td>
            </tr>
          </table>
        </div>
        <hr>
        <ul class="fly-list" th:each="brain:${brains}">
          <li style="margin-bottom: 60px">
            <h3>
              <a    th:text="${brain.brainName}" style="font-size: 20px" th:id="'fontSize'+ ${brain.brainName}"></a>
            </h3>
            <div class="fly-list-info" style="display: flex; align-items: center;justify-content: space-between;">
              <cite th:text="'发起人: '+${brain.userName}"></cite>
              <span th:text="'信息:'+${brain.brainMsg}"></span>
               <span style="display: inline-block;float: right;">
                 <button class="layui-btn layui-btn-normal btn-xs" style="display: inline-block;height:20px" onclick="supports(this.value)" th:value="${brain.brainName}" th:id="'buttonId'+${brain.brainName}">点赞</button>
                 <i th:text="${brain.supports}" th:id="'branId'+${brain.brainName}" style="display: inline-block;width: 25px"></i>
                   <i th:text="'剩余时间:'+${brain.time} +' minutes'" th:id="'time'+${brain.brainName}" style="display: inline-block;width: 150px"></i>
                 </span>
            </div>
            <div class="fly-list-badge">
            </div>
          </li>
        </br>
        </ul>


      </div>
    </div>

  </div>
</div>

<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>
<script>

  function msg(val){
    layer.open({
      title: false,
      type : 1,
      content : val
    });
  }
function supports(brainName){
    console.log("进入supports方法")
  console.log('brainName' + brainName);
  var supportstring = $('#branId'+brainName).text();
  var supports = parseInt(supportstring);

  /*字体*/
  var thisEle = $('#fontSize'+brainName).css("font-size");
  console.log("thisEle=" +thisEle);
  var fontsize = parseFloat( thisEle ,10 );
  console.log("fontsize=" +fontsize);

  var incre = 10;

  $.ajax({
    url:"/ideaC/upBrainSupports",
    data:{
            "brainName" : brainName
        },
    type:"post",
    dataType:"json",
    cache:false,
    success:function(data){//ajax返回的数据
      console.log(data);
      if(data.success == "1"){
        $("#branId"+brainName).text(supports + 1)
        console.log("supportNums" + supports);
        console.log("brainName "+brainName);
        /*点击改变颜色*/
        $("#buttonId"+brainName).removeClass("layui-btn-normal").addClass("layui-btn-danger");
        console.log("#brainName"+brainName)
        /*改变字体大小*/
        fontsize += incre;
        if( fontsize >= 80){
          fontsize = 80;
        }
        $('#fontSize'+brainName).css("font-size",fontsize);
      }
      if(data.success == "0"){
        console.log("取消赞!");
        $("#branId"+brainName).text(supports - 1);
        /*点击改变颜色*/
        $("#buttonId"+brainName).removeClass("layui-btn-danger").addClass("layui-btn-normal");
        /*改变字体大小*/
        fontsize -= incre;
        if( fontsize <= 80){
          fontsize = 20;
        }
        $('#fontSize'+brainName).css("font-size",fontsize);
      }
      layer.msg(data.msg);
    },
    error:function (data) {
      layer.msg("发生一个错误 无法点赞")
    }

  });
}
layui.config({
  version: "3.0.0",
  base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script type="text/javascript">
  $(function () {
    $(".layui-clear li").eq(2).addClass("layui-this");
  });
</script>
</body>
</html>