<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>SourceId社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="SourceId社区">
  <meta name="description" content="SourceId社区">
  <link rel="stylesheet" href="../../../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../../../res/css/global.css">
  <link rel="stylesheet" href="../../../../bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:include="/pages/front/html/common/common :: script"></script>
<!---->
<div th:include=" /pages/front/html/common/common :: commonHeader"></div>
<!--横-->
<div th:include="/pages/front/html/common/common :: navigation"></div>

<div class="layui-container" style="width:900px">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="'想法 '+${ideaName} +'的评论'"></h1>
        </div>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>


        <ul class="jieda" id="jieda" th:each="comment : ${comments}">
          <li data-id="111" class="jieda-daan">
            <div class="detail-about detail-about-reply" style="padding-left: 0px">
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite th:text="'用户名: '+${comment.userName}"></cite>
                </a>
                <i style="display: none" th:text="${comment.userId}"></i>
              </div>

              <div class="detail-hits">
                <span th:text="'回帖时间: '+${comment.commentTime}"></span>
              </div>
            </div>
            <div class="detail-body jieda-body photos">
              <p th:text="${comment.content}"></p>
            </div>
            <div class="panel-group" id="accordion" style="width: 800px;margin-left: 50px">
              <div class="panel panel-default">
                <div id="collapseOne" class="panel-collapse collapse in">

                  <div class="panel-body">
                    <ul th:each="child : ${comment.childComments}">
                      <li>
                        <span style="display: inline-block;margin-right: 20px" th:text="${child.userName} + ' @' + ${child.parentName} ">xx@xxx</span>
                        <span style="display: inline-block;margin-right: 20px" th:text="${child.content}">评论: xxx</span>
                        <span style="display: inline-block;margin-right: 20px;float: right" th:text="'时间:'+${child.commentTime}"> 发表时间  2018</span>
                          <div class="jieda-reply" style="display: inline-block;margin-left: 30px;float:right;margin-right: 20px">
                            <!-- 按钮触发模态框 -->
                            <shiro:hasRole name="user:common">
                              <button class="btn btn-primary btn-xs" data-toggle="modal" th:data-target="'#son'+${child.id}">
                                回复
                              </button>
                            </shiro:hasRole>
                            <!-- 模态框（Modal） -->
                            <div class="modal fade" th:id="'son'+${child.id}" style=" position: absolute;top: 50%;left: 50%; transform: translateX(-40%) translateY(-50%);height: 500px;width: 800px" tabindex="-1" role="dialog" th:aria-labelledby="'mySon'+${child.id}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                      &times;
                                    </button>
                                    <h4 class="modal-title" th:id="'mySon'+${child.id}">
                                      评论
                                    </h4>
                                  </div>
                                  <div class="modal-body">
                                    <form class="layui-form" th:id="'inReplyForm'+${child.id}">
                                      <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">内容</label>
                                        <div class="layui-input-block">
                                          <textarea name="content" placeholder="请输入评论内容" class="layui-textarea"></textarea>
                                          <input type="hidden" name="ideaId" th:value="${ideaId}">
                                          <input type="hidden" name="ideaName" th:value="${ideaName}">
                                          <input type="hidden" name="uid" th:value="${comment.id}">
                                          <input type="hidden" name="parentId" th:value="${child.userId}">
                                          <input type="hidden" name="parentName" th:value="${child.userName}">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <div class="layui-input-block">
                                          <button class="layui-btn" type="button" th:value="${child.id}" onclick="inReply(this.value)">立即提交</button>
                                          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                      评论
                                    </button>
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal -->
                            </div>
                          </div>
                          <hr>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="jieda-reply">

              <!-- 按钮触发模态框 -->
              <shiro:hasRole name="user:common">
                <button class="btn btn-primary btn-xs" data-toggle="modal" th:data-target="'#father'+${comment.id}">
                  回复
                </button>
              </shiro:hasRole>
              <!-- 模态框（Modal） -->
              <div class="modal fade" th:id="'father'+${comment.id}" style=" position: absolute;top: 50%;left: 50%; transform: translateX(-40%) translateY(-50%);height: 500px;width: 800px" tabindex="-1" role="dialog" th:aria-labelledby="'father2'+${comment.id}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                      </button>
                      <h4 class="modal-title" th:id="'father2'+${comment.id}">
                       评论
                      </h4>
                    </div>
                    <div class="modal-body">
                      <form class="layui-form" th:id="'outReplyForm'+${comment.id}" >
                        <div class="layui-form-item layui-form-text">
                          <label class="layui-form-label">内容</label>
                          <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入评论内容" class="layui-textarea"></textarea>
                            <input type="hidden" name="ideaId" th:value="${ideaId}">
                            <input type="hidden" name="ideaName" th:value="${ideaName}">
                            <input type="hidden" name="uid" th:value="${comment.id}">
                            <input type="hidden" name="parentId" th:value="${comment.userId}">
                            <input type="hidden" name="parentName" th:value="${comment.userName}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <div class="layui-input-block">
                            <button class="layui-btn" type="button" th:value="${comment.id}" onclick="outReply(this.value)">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                          </div>
                        </div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                      </button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal -->
              </div>


            </div>
          </li>
          <hr class="layui-bg-gray">
        </ul>
        <shiro:hasRole name="user:common">
          <div class="layui-form layui-form-pane">
            <form th:action="@{/IdeaC/commentIdea}" method="post">
              <div class="layui-form-item layui-form-text">
                <a name="comment"></a>
                <div class="layui-input-block">
                  <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <input type="hidden" name="ideaName" th:value="${ideaName}">
                <input type="hidden" name="ideaId" th:value="${ideaId}">
                <input type="hidden" name="parentId" >
                <button class="layui-btn" type="submit">提交回复</button>
              </div>
            </form>
          </div>
        </shiro:hasRole>

      </div>
    </div>
  </div>
</div>

<div  th:include="/pages/front/html/common/common :: footer"></div>

<script src="../../../../../res/layui/layui.js"></script>

<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  /*
  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });
  */
});
</script>
<script type="text/javascript">
  $(function () {
    $(".layui-clear li").eq(2).addClass("layui-this");
  });
</script>

<script src="../../../../../res/layui/lay/modules/layer.js"></script>
<script>
  /*function commemt(){

    $.ajax({
      url:"/ProjectC/joinProject",
      data:{ "userId" : userId,
        "projectId" : projectId
      },
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据a
        console.log(data);
        layer.msg(data.msg)
      },
      error:function (data) {
        layer.msg("未登录无法申请哦! 请登录")
      }

    });

    console.log("commemt");
    layui.use('layer',function () {
      layer.open({
        type : 1,
        content : '<h1>23232323</h1>',
        area: ['800px','500px'],
        btn: ['关闭'],
        shade: [0.6],
        shadeClose: true,
        anim: 1
      });
    })
  }*/
/*  layer.open({

  });*/
 /* layer.msg('hello');*/


  function outReply(commentId) {
    console.log("outReply!!c" + commentId)
    $.ajax({
      url:"/IdeaC/commentIdeaUser",
      data:$('#outReplyForm'+commentId).serialize(),
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        layer.msg(data.msg);
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }

    });
  }

  function inReply(childId) {
    console.log("inReply!!c"+ childId)
    console.log($('#content').text())
    console.log($('#inReplyForm').serialize())
    $.ajax({
      url:"/IdeaC/commentIdeaUser",
      data:$('#inReplyForm'+childId).serialize(),
      type:"post",
      dataType:"json",
      cache:false,
      success:function(data){//ajax返回的数据
        console.log(data);
        layer.msg(data.msg);
      },
      error:function (data) {
        layer.msg("未登录无法点赞哦! 请登录")
      }

    });
  }
</script>

</body>
</html>